.contact{

  h2{
    color: $blue;
    text-align: center;
    margin-bottom: .5em;
  }
  padding-bottom: 20vh;
  margin-bottom: 1em;

  @include media-breakpoint-up(md){
    padding-top: 10vh;

    }
  input, textarea{
    display: block;
    padding: .5em;
    width: 100%;
  }
  label{
    display: block;
    margin-top: 1em;
    color: $blue;
  }
  .btn{
    width: 35%;
    margin-top: 1em;
    font-size: 1.5rem;

  }
  textarea{
    height: 150px;
  }
}
.okvir{
  position: relative;
  padding-bottom: 3em;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.reminder{
  background-color: $green;
  color: $white;
  border-radius: 15px;
  padding: .2em .5em;
  width: 80%;
  position: absolute;
  right: 0;
  bottom: -2em;
  @include media-breakpoint-up(lg){
    width: 50%;
  }
}
