.parallax{
  display: none;

  @include media-breakpoint-up(md){
    display: block;
    height: 35vmax;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

  }

}

.parallax-home{
  background-image: url('../img/work.jpg');
  filter: blur(3px);
}
